.buttonI {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
        box-shadow: $button-hover-box-shadow;
        border-color: $button-hover-border-color;
      }
  }
  .buttonE {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
        box-shadow: $button-hover-box-shadow;
        border-color: $button-hover-border-color;
      }
  }
  .buttonL {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
        box-shadow: $button-hover-box-shadow;
        border-color: $button-hover-border-color;
      }
  }
  .buttonU {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
        box-shadow: $button-hover-box-shadow;
        border-color: $button-hover-border-color;
      }
  }
  .buttonC {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
        box-shadow: $button-hover-box-shadow;
        border-color: $button-hover-border-color;
        background-color: $button-background-color;
      }
  }

  