$letra: (I, E, L, U, C);

@each $red, $color in $letra {
  .button#{$red} {
    color: $button-color;
    border-radius: $button-border-radius;
    border-color: $button-border-color;
    background-color: $button-background-color;
    &:hover {
      box-shadow: $button-hover-box-shadow;
      border-color: $button-hover-border-color;
      background-color: $button-background-color;
    }
  }
}


