@media screen and (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "aside aside"
      "footer footer";
  }
  header {
    grid-area: header;
  }
  .header h1 {
    display: flex;
    justify-content: center;
    margin-block-start: auto;
  }
  .nav {
    grid-area: nav;
    justify-content: center;
    font-size: small;
  }
  .main {
    grid-area: main;
  }
  .aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  footer p {
    font-size: x-small;
  }
  main {
    background-color: rgb(255, 127, 127);
  }
  .ubicacion{
    width: 200px;
    height: 100px;
    margin: 1rem;
    align-items: center;
  } 
}




@media screen and (max-width: 1199px) {
  .gridContainer {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "aside aside"
      "footer footer";
  }

  header {
    grid-area: header;
  }
  .header h1 {
    display: flex;
    justify-content: center;
    margin-block-start: auto;
  }
  .nav {
    grid-area: nav;
    justify-content: center;
  }

  .main {
    grid-area: main;
  }
  .aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  footer p {
    font-size: small;
  } 
  .ubicacion{
    width: 440px;
    height: 100px;
    margin: 1rem;
    align-items: center;
  } 

}

@media screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header header  nav nav"
      "main main main main  main"
      "aside aside aside aside  aside"
      "footer footer footer  footer footer";
  }
  header {
    grid-area: header;
  }
  .header h1 {
    display: flex;
    justify-content: flex-end;
    margin-block-start: auto;
  }
  .carousel {
    padding: 1rem 0rem 0rem 0rem;
  }
  section {
    padding: 2rem 0rem 0rem 0rem;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }

  .aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  .ubicacion {
    width: 440px;
    height: 100px;
    margin: 1rem;
    align-items: center; }
}
